* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  margin: 1rem;
  display: flex;
  gap: 1rem;
  align-items: center;
}
img {
  height: 10vh;
}
h1 {
  font-size: 1.5rem;
}

.home {
  margin-top: 4rem;
  text-align: center;
}
.home > h1 {
  font-size: 1rem;
  text-align: center;
  margin: 0.2rem;
}

.home > input {
  margin-top: 0.4rem;
  padding: 0.5rem;
  border: 0.1px solid black;
  border-radius: 0.3rem;
}
.btn {
  padding: 0.5rem;
  background-color: lightblue;
  border: none;
  border-radius: 0.3rem;
  margin-left: -2rem;
  margin: 1rem;
}

.footer {
  margin-top: 20rem;
}
.footer > h2 {
  font-size: 1.4rem;
  text-align: center;
}
.footer > img {
  height: 10vh;
  gap: 2rem;
  text-align: center;
}
